{% extends 'base.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}
    <h1>Créer un nouveau voyage</h1>

    {{ include('adv_voyage/_form.html.twig') }}

    <a href="{{ path('app_adv_voyage_index') }}">back to list</a>
{% endblock %}
